/* STYLE CSS
	AUTHOR: MERT AKENGIN
	* PLEASE GIVE CREDIT WHEN YOU TAKING CODE IF YOU ARE IN AN ORGANIZATION... */

* { line-height:1.33; cursor:default; }

HTML
{
	background-color:transparent;
	background-image:url('http://p1.pichost.me/i/33/1562414.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	background-attachment:fixed;
	margin:0px;
	position:absolute;
	top:0; left:0;
	bottom:0; right:0;
	overflow:scroll-y;
	z-index:1;
}

BODY
{
	position:absolute;
	margin:0px;
	top:5%;
	left:10%;
	right:10%;
	overflow:scroll-y;
	background-color:rgba(0,0,0,0.8);
	color:white;
	font-family:arial;
	padding:32px;
	border-radius:20px;
	text-indent:2em;
	z-index:5;
}

H1,H2,H3
{
	font-family:serif;
	border-radius:5px;
	padding:10px;
	z-index:10;
}
H2 { font-style:italic; border-bottom:1px solid silver; }
H3 { text-align:right; font-weight:lighter; border-top:1px solid silver; }

P
{
	border-radius:15px;
	border:2px solid silver;
	padding:15px;
	color:silver;
	overflow:auto;
	z-index:15;
}

A { color:lime; cursor:hand; }

links
{
	text-size:16;
	background:linear-gradient(to right,transparent,rgb(140,0,0),transparent);
	white-space:pre-wrap;
	display:block;
}


sbox
{
	position:fixed;
	display:block;
	top:1%;
	right:0%;
	width:64px;
	height:auto;
	border-radius:20px;
	border:1px solid gray;
	opacity:0.85;
	padding:16px;
	text-align:center;
	vertical-align:middle;
	z-index:10;
	text-indent:0px;
	background-color:rgba(64,64,64,0.8);
}
sbox A IMG
{
	display:inline-block;
	position:relative;
	width:48px;
	height:48px;
	margin-top:10px;
	margin-bottom:10px;
	border-radius:11px;
	cursor:hand;
}
